<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.UserInfoDao" >

     <!-- 查询用户资源列表 -->
     <select id="selectUserInfoByPage" resultType="com.smartwf.sm.modules.admin.pojo.UserInfo">
        select
        	id,
			user_code,
			login_code,
			user_name,
			email,
			mobile,
			phone,
			sex,
			avatar,
			sign,
			wx_openid,
			qq_openid,
			address,
			remark,
			tenant_id,
			status,
			mgr_type,
			pwd_question,
			pwd_question_answer,
			pwd_question2,
			pwd_question_answer2,
			pwd_question3,
			pwd_question_answer3,
			enable,
			create_time,
			create_user_id,
			create_user_name,
			update_time,
			update_user_id,
			update_user_name
        from sys_user_info 
        <where>
            <if test="bean.userCode != null ">
                and user_code=#{bean.userCode}
            </if>
            <if test="bean.loginCode != null ">
                and login_code=#{bean.loginCode}
            </if>
            <if test="bean.userName != null ">
                and user_name=#{bean.userName}
            </if>
            <if test="bean.mobile != null ">
                and mobile like CONCAT('%',#{bean.mobile},'%')  
            </if>
            <if test="bean.enable != null ">
                and enable=#{bean.enable}
            </if>
            <if test="bean.status != null ">
                and status=#{bean.status}
            </if>
            <if test="bean.mgrType != null ">
                and mgr_type &lt;= #{bean.mgrType}
            </if>
            <if test="bean.tenantId != null ">
                and tenant_id = #{bean.tenantId}
            </if>
        </where>
        order by create_time desc
    </select>
    
     <!-- 查询用户资源列表 -->
     <select id="selectUserInfoById" resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO">
       select 
		    a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds 
		from sys_user_info a
		where id= #{bean.id}
    </select>
    
    
   
</mapper>